.min-height{
  height: 100%;
  min-height: 100%;
}
.min-optional-height{
  height: 500px;
  min-height: 500px;
}
.optional-height{
  height: 800px;
  min-height: 800px;
}

// start @media 769px 
@media(min-width: 769px) {
  .snake-img-container{
    max-width: 680px;
    // margin: 50px auto;
  }

  #np-logo{
    max-width: 620px;
    margin: 0 auto;
  }
}
// end @media 769px

// start @media 1025px 
@media(min-width: 1025px) {

}
// end @media 1025px

// start @media 1201px 
@media(min-width: 1201px) {

}
// end @media 1201px


@media screen and (min-height: 560px) {
  #landing-main{
    height: 100%;
  }  
}
@media screen and (min-height: 801px) {
  #landing-main{
    height: 800px;
  }  
}