<template name="game">
  <div class="game-wrap">
    <div class="board">
      <div id="canvas-game">
        <div class="canvas-wrapper"><canvas id="js-game-board" width="500" height="500"></canvas></div>
        <div class="container game-controls">
          <div  class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h4>Kills {{currentPlayer.kills}}</h4>
          </div>
          <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div id="player-scores">
              {{#if currentPlayer}}
                {{#if currentPlayer.dead}}
                <button class="btn btn-default" id="play_again">Play</button>
                <p>{{gameMessage}}</p>
                  {{#if isDesktop}}
                  <p><small>You can also press spacebar to start the game</small></p>
                  {{else}}
                  <p>Swipe the game board to control your snake</p>
                  {{/if}}
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h4>Current Score {{currentPlayer.score}}</h4>
          </div>
        </div>
      </div>




      {{#if displayScoreboard}}
        {{>scoreboard}}
      {{/if}}
    </div>
  </div>
</template>

